@import 'node_modules/modern-normalize/modern-normalize.css';


.background{
      
      background-color: rgb(128 ,240, 236,0.5);
       background-image: linear-gradient(180deg, rgb(128 ,240, 236,1), white);


    }
.center-welcome {
    text-align: center;
    font-family: monospace;
    font-size: 120pt;
}

.default-text-body{

 font-family:monospace;
    font-size: 15pt;


} 




body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: darkcyan;
            padding: 10px;
            color: white;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 100;
        }

        /* Add content to create scrolling effect   */
        section {
            height: 1000px;
            padding: 20px;
        }